.login_act_main_body{
     height: 100vh;
     width: 100wh;
     justify-content: center;
     align-items: center;
     display: flex;
     background-color: #000;
}
.login_act_main_head_body{
     position: fixed;
     top: 0;
     height: 62px;
     width: 100%;
     font-size: 22px;
     text-align: center;
     padding-top: 12px;
     box-shadow: 0px 3px 6px #525252;
}
.login_act_main_form_body{
     width: 324px;
     border-radius: 8px;
     background-color: #000;
     border: 1px solid #323232;
     padding: 12px;
}
.login_act_main_unm_txt{
     width: 300px;
     border-radius: 8px;
     background-color: #212121;
     border:1px solid #323232;
     height: 36px;
     color: #fefefe;
     padding-left: 10px;
}
.login_act_main_pass_txt{
     width: 300px;
     height: 36px;
     border-radius: 8px;
     background-color: #212121;
     border:1px solid #323232;
     height: 36px;
     color: #fefefe;
     padding-left: 10px;
     margin-top: 12px;
}
.login_act_main_sub_butt{
     width: 100%;
     margin-top: 12px;
     height: 32px;
     border-style: none;
     border-radius: 8px;
     cursor: pointer;
     color:#000;
     background-color: #A9EB9F;
  
}
.login_act_or_txt{
     width: 100%;
     text-align: center;
     padding-top: 7px;
     padding-bottom: 7px;
}
.login_act_gog_butt{
     width: 100%;
     height: 42px;
     background-color: #0E98FF;
     border-style: none;
     border-radius: 12px;
     font-size: 17px;
     font-weight: 600;
     color:#fefefe;
     cursor: pointer;
}
.login_act_for_lnk{
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 12px;
     color: #14348E;
}
.login_act_crt_act{
     margin-top: 10px;
     width: 100%;

}
.login_act_sgnup_cont{
text-align: center;
padding-top: 8px;
padding-bottom: 8px;
margin-top: 10px;
color: #0E98FF;

}
.login_act_tit_cont{
     padding-top: 10px;
     padding-bottom: 5px;
     margin-bottom: 10px;
     width: 100%;
     text-align: center;
     font-size: 19px;
     color: #fff;
}

.app_ver_cont{
     position: fixed;
     background-color: #e0e0e0;
     bottom: 0;
     right: 0;
     padding: 10px;
     color: #000;
     font-size: 16px;
     font-weight: 600;
}
.login_act_err_cont{
     font-size: 13px;
     padding: 7px;
     color:#EE6A5E;
     padding-left: 0px;
     padding-bottom: 0px;
}

.info_act_main_body{
     width: 100%;
     height: 100vh;
     position: fixed;
     justify-content: center;
     align-items: center;
     display: flex;
}
.info_form_main_body{
 padding: 13px;
 border: 1px solid #424242; 
 border-radius: 6px;   
}
.info_form_main_body_tit{
     text-align: center;
     width: 100%;
     font-size: 22px;
     margin-top: 15px;
     margin-bottom: 20px;
     font-weight: 700;
}
.info_main_form_fld_class{
     width: 300px;
     margin-bottom: 10px;
     padding-left: 8px;
     background-color: #212121;
     border:1px solid #323232;
     height: 36px;
     color: #fefefe;
}
.info_main_form_fld_sub_class{
     width: 100%;
     height: 38px;
     background-color: #0E98FF;
     border-style: none;
     border-radius: 8px;
     color: #fff;
     margin-top: 15px;
     font-size: 16px;
}
.sign_act_poli_main_cont{
padding-top: 7px;
padding-bottom: 7px;

}
.sign_act_poli_chck{
     width: 14px;
     height: 14px;
     color: #0E98FF;
     vertical-align: middle;
margin-right: 10px;
}
.sign_act_poli_txt_cont{
     font-size: 12px;
     vertical-align: middle;
     color: #727272;
}