.noti_main_cont{
     position: fixed;
     z-index: 99999999;
     top:0;
     right: 0;
     margin: 32px;
     margin-top: 78px;
     
     width: 300px;
     max-height: 50vh;    
     overflow: hidden;
     font-weight: bold;
}
@keyframes noti_anim {
     from
     {
     transform: translateX(100%);
     }
     to
     {
     transform: translateX(0%);
     }
}

.noti_cont{
     margin: 0px;
     animation-name: noti_anim;
     animation-duration: 0.3s;
     animation-fill-mode: forwards;
     
}
