._page_element_main_bdy{
width: 100%;
position: relative;
background-color: #fff;
border:1px solid #e0e0e0;
border-bottom-style: none;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 22px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #0E98FF;
}

input:checked + label:after {
	left: calc(100%);
	transform: translateX(-110%);
}

label:active:after {
	width: 22px;
}


.overlay_trigger{
     margin-top: 32px;
}
._page_element_head_main_body{
     height: 26px;
     background-color: #f1f1f1;
     position: relative;
}
._page_element_head_left_bdy{
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     display: flex;
     font-weight: 600;
     justify-content: center;
     align-items: center;
     padding-left: 12px;
     font-size: 13px;
}
._page_element_head_rgt_bdy{
     position: absolute;
     top: 0;
     right: 0;
}
._page_element_overlay{
width: 100%;
height: 100%;
position: absolute;
top:0;
left: 0;
right:0;
bottom: 0;

border-radius: 4px;
cursor: pointer;
}
._page_element_overlay:hover{
     background-color: rgba(14,152,255,0.2);
     
}

._page_element_text_class{
     max-width: 100%;
     

}
._page_element_text_class:hover{
 
}

.ele_pop_main_bdy{
     
}
.popover_txt_class{
     width: 300px;
}
.pop_txt_head_main_cont{
     
     padding: 10px;
     position: relative;
     border-bottom: 1px solid #e0e0e0;
}
.pop_txt_head_txt{
     font-size: 18px;
     font-weight: 600;
}
.pop_txt_head_rght_cont{
     position: absolute;
     right: 0;
     top: 0;
     bottom: 0;
     padding-top: 10px;
     padding-right: 10px;
     height: 100%;    
     display: flex;
     justify-content: center;
     align-items: center;
}
.pop_txt_head_rght_del_butt{
     padding: 0px;
     margin: 0px;
     padding: 6px;
     width: 100%;
}
.ele_pop_bdy{
     width: 100%;
     padding: 7px;
     padding-left: 12px;
     padding-right: 12px;

}
.ele_txt_pop_cont_color{
     width: 100%;
     height: 32px;
     resize: none;   
     white-space: pre;
     border-style: none;
     padding-left: 10px;
     background-color: #f3f3f3;
}
.ele_txt_pop_cont{
     width: 100%;
     height: 100px;
     resize: none;   
     white-space: pre;
     border-style: none;
     padding-left: 10px;
     background-color: #f3f3f3;
}
.ele_pop_bdy_txt{
     padding-top: 10px;
     padding-bottom: 5px;
     font-weight: 600;
     font-size: 14px;
     color: #323232;
}
._page_element_vid_class{

}
._page_element_vid_empt_class{
     width: 100%;
     height: 72px;
     font-size: 15px;
     border-radius: 8px;
     background-color: #f5f5f5;
     display: flex;
     justify-content: center;
     align-items: center;
}

._page_element_profile_main_bdy{
     height: fit-content;
}
._page_element_profile_pic_bdy{
     width: 100%;
     height: fit-content;
     margin-top: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
}
._page_element_profile_pic_bdy_ico{
     width: 102px;
     height: 102px;
     border-radius: 360px;
     padding: 10px;
     background-color: #e0e0e0;
}
._page_element_profile_nam_bdy{
     font-weight: 600;
     font-size: 19px;
}
._page_element_profile_abut_bdy{
     height: fit-content;
     width: 100%;
     display: flex;
     padding-bottom: 20px;
     justify-content: center;
     align-items: center;
     font-size: 13px;
}
._page_element_footer_main_bdy{
     color:#525252;
     padding: 12px;
     font-size: 13px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-bottom: 1px solid #e0e0e0;
}